body {
  color: #fff;
  background-color: #333;
  font-family: Andale Mono, Courier New, Courier;
}

a {
  color: #cc0;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ff0;
}

.host {
  color: #0f0;
}

.folder {
  color: #00f;
  font-weight: bold;
}